<% unless signed_in? %>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Instagrammer</h1>
        <p>This is a project created on the 9th and 10th weeks of <a href='http://www.makersacademy.com' target='_blank'>Makers Academy</a>, a 12 weeks coding bootcamp in Shoreditch, London</p>
        <p>
        	<%= link_to 'Sign up »', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
		</p>
      </div>
    </div>
<% end %>

<div class='container'>
	<% if @posts.none? %>
		<h1>No posts yet</h1>
	<% else %>
		<% @posts.in_groups_of(3, false).each do |post_triplet| %>
			<div class='row'>
					<%= render post_triplet %>
			</div>
		<% end %>
	<% end %>
	<p><%= link_to 'New post', new_post_path, class: 'btn btn-success btn-lg' %></p>
</div>